// media queries, flexbox settings
@mixin flexed($dis:flex, $dir:null, $wrap:null, $jus:null){
  display: $dis;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $jus;
  @content;

}

@mixin mobile($w:null){
    @media (max-width:$break-mobile){
    @content;
  }
  width: $w;
}

@mixin desktop($w:null){
  @media (min-width:$break-desktop) {
    @content;
  }
  width: $w;

}

@mixin background-colors($color){
  background-color: $color;
    font-family: $font;
    color: $color-darkgray;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 5px;
  @content;
}

@mixin button-styles($color){
  background-color: $color;
  font-family: $font;
  font-weight: $bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  color: $color-white;
  padding: 12px;
  @content;
}
