@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,700');

// variables
  // colors, fonts, breakpoints

// --------------------COLORS------
// nav buttons, headline, lines
$color1: #58e1c1;
// login/default button, links
$color2: #51ddfc;
// success
$color3: #63cc82;
// error
$color4: #e4757a;
//warning
$color6: #fd7856;
// info
$color5: #927bc1;
// col-12
$color-grid12: #80e8d1;
// col-6
$color-grid6: #3fabca;
// col-4
$color-grid4: #7ee6fd;
// col-5
$color-grid5: #88d9a0;
// col-3
$color-grid3: #deb2ee;
// col-7
$color-grid7: #ec9fa3;
// col-8
$color-grid8: #fd9f85;

$color-lightgray: #ababab;

$color-darkgray: #818080;
$color-darkestgray: #5a5a5a;

$color-white: white;

// --------------------FONTS----

$font: 'Lato', sans-serif;

// --------------------FONT-WEIGHTS----
$lighter: 200;
$light: 300;
$regular: 400;
$bold: 700;

// --------------------BREAKPOINTS----
$break-desktop: 601px;
$break-mobile: 600px;
