.form{
  @include flexed($dir:column){}
  [placeholder]{
    font-family: $font;
    font-weight: $regular;
    padding: 10px;

  }
  input{
    border-bottom: 5px solid $color1;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    margin-bottom: 25px;

  }

}

.form__label--hidden{
  display: none;

}
.form--input{

}
