.container{
 width: 85%;
 margin: 0 auto;
 padding-top: 30px;
}
.grid__row{
  @include flexed(){}
  @include mobile(){
    flex-direction: column;
}
  @include desktop(){
    flex-direction: row;
    flex-wrap: nowrap;
  }

}
.grid__col{

  &--3{
    max-width: 100%;
    @include flexed($dir: column){}
    @include desktop($w: 25%){
    }
    a{
      width: 170px;
      @include mobile{
      margin: 0 auto;
    }
  }
}

  &--4{
    max-width: 100%;
    @include desktop($w: 33%){

    }

  }

  &--5{
    max-width: 100%;
    @include desktop($w: 40%){
}

}

  &--6{
    max-width: 100%;
    @include flexed(){}

    @include desktop($w: 50%){
    }
    justify-content: space-around;
  }

  &--7{
    max-width: 100%;
    @include desktop($w: 60%){
  }
  }

  &--8{
    max-width: 100%;
    @include desktop($w: 66%){
    }

  }

  &--9{
    max-width: 100%;
  }

  &--12{
    @include flexed(){
      width: 100%;
    }
    @include mobile(){
      flex-direction: column;
    }
    align-content: center;
    flex-direction: row;
    justify-content: space-around;

}
}

.grid__row .grid__col--3.theme__colors{
  @include background-colors($color-grid3){

  }
  @include mobile(){
  &:last-of-type {
    margin-bottom: 40px;
}
text-align: center;
}

}
.grid__row .grid__col--4.theme__colors{
  @include background-colors($color-grid4){}
  @include mobile(){
  &:last-of-type {
    margin-bottom: 40px;
}
text-align: center;
}

}
.grid__row .grid__col--5.theme__colors{
  @include background-colors($color-grid5){}
  text-align: center;

}
.grid__row .grid__col--6.theme__colors{
  @include background-colors($color-grid6){}
  @include mobile(){
  &:last-of-type {
    margin-bottom: 40px;
}
}
text-align: center;
}
.grid__row .grid__col--7.theme__colors{
  @include background-colors($color-grid7){}
  @include mobile(){
      margin-bottom: 40px;
  }
text-align: center;
}
.grid__row .grid__col--8.theme__colors{
  @include background-colors($color-grid8){}
  text-align: center;
  @include desktop(){
    margin-right: 10px;
  }

}
.grid__row .grid__col--12.theme__colors{
  @include background-colors($color-grid12){}
}
.centered{
  width: 100%;
  @include desktop($w:66%){

  }
  margin: 0 auto;
}

.theme__colors{

}
