
.img{


&--logo{
  @include desktop(){
  align-self: flex-start;
}
@include mobile(){
  align-self: center;
}
}

&--frame{
 border: solid 1px $color-lightgray;
 padding: 15px;
 max-width: 100%;
 align-self: center;
 @include desktop(){
   flex: 1 0 50%;
 }
 @include mobile(){
  flex: 0 1 100%;
}
}
&--avatar{
  padding: 20px;
  align-self: center;
  @include mobile(){
  margin: 0 auto;
}
@include desktop(){
  flex-grow: 0;
  flex-shrink: 1;
}
}
}
