.nav__item{
 @extend %nav-item;
 text-align: center;
 &:first-of-type{
   margin-top: 10px;
 }
 &:hover{
   background-color: $color1;
   transition: background-color .8s ease;
   a{
   color: $color-white;
 }
   padding: 15px 20px;
   border-radius: 5px;
 }
  a{
    color: $color-darkestgray;

  }
}
.nav{
  @include desktop(){
  @include flexed(){
    
  }
}
  @include mobile(){
  @include flexed($dir: column){}
}
  padding: 0;
}

a{
  @extend %links;

}
