.nav__item{
 @extend %nav-item;
 text-align: center;
  a{
    padding: 10px 20px;
    border-radius: 5px;
    color: $color-darkestgray;
    &:hover{
      background-color: $color1;
      color: $color-white;
    }
  }
}
.nav{
  @include desktop{
  @include flexed(){}
}
  @include mobile{
  @include flexed($dir: column){}
}
  padding: 0;
}

a{
  @extend %links;

}
