.container{
  p{
    font-family: $font;
    font-weight: $regular;
    color: $color-darkestgray;
  }
  em{
    font-weight: $regular;
    color: $color-darkgray;
  }
}

.link{
  font-weight: $regular;
  @extend %links;
}
.blockquote{
  font-family: $font;
  font-style: italic;
  font-weight: $lighter;
  border-left: 5px solid $color1;
  border-radius: 3px;
  padding-left: 10px;
  color: $color-darkestgray;
  font-size: 1.2em;
}
.headline--primary{
  font-family: $font;
  color: $color1;
  font-weight: $bold;
  width: 66%;
  margin-left: 10px;
  }
.headline--secondary{
  font-family: $font;
  font-weight: $light;
  margin-top: 40px;
}
