
.container{

}

.link{
  @extend %links;
}

.blockquote{
  border-left: 2px solid $color1;
  font-family: $gothic-font;
  font-weight: $bold;
  color: $color-lightgray;
  font-style: italic;
}

.headline--primary{
  font-family: $gothic-font;
  font-weight: $black;
  color: $color1;
}

.headline--secondary{
  font-family: $gothic-font;
  font-weight: $regular;
  color: $color-lightgray;
}

a{
  font-family: $gothic-font;
  color: $color-white;
  text-decoration: none;
  padding: 10px;
}
